<link rel="stylesheet" href="navbar.css">

<div class="navbar-container">
    <span class="menu-button" onclick="openSideNav()">&#9776;</span>
    <span class="navbar-header"><%= username %>'s dashboard</span>
</div>