<div class="menu" id="sidenav-menu">
    <span onclick="openSideNav()">&#9776;</span>
</div>

<div class="sidenav" id="sidenav">
    <a href="javascript:void(0)" onclick="closeSideNav()">Close</a>
    <a href="#">About</a>
</div>

<script>
    var heading = document.getElementById("heading").innerHTML;
    var link = document.getElementById("sidenav").childNodes[2];
    var sidenav = document.getElementById("sidenav");
    var a = document.createElement("a");
    if (heading === "Register") {
        a.appendChild(document.createTextNode("Login"));
        a.setAttribute("href", "/");
    }
    else if (heading === "Login") {
        a.appendChild(document.createTextNode("Register"));
        a.setAttribute("href", "/register");
    }
    sidenav.insertBefore(a, link);

    function openSideNav() {
        document.getElementById("sidenav").style.width = "250px";
    }

    function closeSideNav() {
        document.getElementById("sidenav").style.width = "0";
    }
</script>