<h1>Login</h1>
<% if (typeof fl != 'undefined') { %>
    <h3>Login unsuccessful</h3> 
<% } %>

<div class="ajax">
    <button onclick="Ajaxrequest('GET','/routes/ajax')">AJAX request</button>
    </button>
</div>
<div id="response"></div>

<div class="form" id="login-form">
    <form action="/login" class="form" method="POST">
        <label>Username</label>
        <input type="text" id="login-username" placeholder="Username" name="username">
        <label>Password</label>
        <input type="password" id="login-password" placeholder="Password" name="password">
        <button type="submit">Login</button>
    </form>
</div>
<a href="/register">Register</a>
<script type="text/javascript" src="index.js"></script>