<link rel="stylesheet" href="splash.css">
<h1 id="heading">Login</h1>
<% if (typeof fl != 'undefined') { %>
<h3>Login unsuccessful</h3>
<% } %>

<div class="form-container" id="login-form">
    <h4>Login</h4>
    <form action="/login" method="post">
        <div class="form-container-grid ">
            <input type="text" id="login-username" placeholder="Username" name="username" class="grid-item" required>
            <input type="password" id="login-password" placeholder="Password" name="password" class="grid-item" required>
            <a href="/register" class="button" id="login-register" >Register</a>
            <button type="submit" id="login-submit" >Login</button>
        </div>
    </form>
</div>
<script type="text/javascript" src="index.js"></script>
