<link rel="stylesheet" href="splash.css">
<h1 id="heading">Register</h1>

<% if (msg !== undefined) { %>
<h3><%= msg %></h3>
<% } %>

<% include partial/login/sidenav %>


<div class="form-container" id="register-form">
    <h4>Register</h4>
    <form action="/register" method="post">
        <div class="form-container-grid">
            <input type="text" id="register-username" placeholder="Username" name="username" class="grid-item" required>
            <input type="password" id="register-password" placeholder="Password" name="password" class="grid-item" required>
            <a href="/" class="button" id="login-register" >Already have an account?</a>
            <button type="submit" id="login-submit">Register</button>
        </div>
    </form>
</div>