<link rel="stylesheet" href="splash.css">
<h1 id="heading">Register</h1>

<% if (msg !== undefined) { %>
<h3><%= msg %></h3>
<% } %>

<% include partial/login/sidenav %>

<div id="register-form" class="grid-container">
    <div class="grid-form border">
        <form action="/register" method="POST">
            <div class="grid-container-content">
                <label><b>Username</b></label>
                <input type="text" name="username" id="register-username" placeholder="Username" required>
                <label><b>Password</b></label>
                <input type="password" name="password" id="register-password" placeholder="Password" required>
                <button type="submit" style="grid-column: 2">Register</button>
            </div>

        </form>
    </div>
</div>