:root {
    --theme-blue: #4da6ff;
    --button-text-color: white;
    --container-border: solid 1px lightgrey;
    --container-border-radius: 9px;
    --container-background-color: white;
}

.todo-container {

    background-color: var(--container-background-color);
    border: var(--container-border);
    border-radius: var(--container-border-radius);
    width: 80%;
    padding: 20px;
    margin: auto;

}

.todo-grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
}

.todo-grid-item {

    border: var(--container-border);
    padding: 10px;
    overflow: auto;
    height: 100px;

}

@media only screen and (max-width: 650px) {

    .todo-grid-container {
        grid-template-columns: 100%;
    }

}



