:root {
    --bg-color: white;
    --container-color: #f2f2f2;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    
    
}

nav {
    background-color: #808080b9;
    height: 35px;
    padding: 5px;
}

nav a {
    color: white;
    float: left;
    padding: 10px;
}

nav:hover {
    background-color: #b3b3b3;
    color: #808080;
}

.footer-div {
    margin: 5px 0px;
    width: 1000px;
    position: fixed;

}

.container {
    border: 1px solid black;
} 

a {
    text-decoration: none;
}

a.button, button {
    text-align: center;
    font-size: 15px;
    border: solid 1px grey;
    background-color: lightblue;
    padding: 10px 0px;
}

input[type=text], input[type=password] {

    text-decoration: none;
    padding: 8px;


}
