:root {
    --theme-blue: #4da6ff;
    --button-text-color: white;
    --background-color: #eaffff
}

* {
    box-sizing: border-box;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    background-color: var(--background-color);
    
}

a.button, button {
    text-decoration: none;
    font-weight: bold ;
    color: var(--button-text-color);
    text-align: center;
    font-size: 15px;
    border: solid 1px grey;
    background-color: var(--theme-blue);
    padding: 10px 0px;
    cursor: pointer;
}

a.button:hover, button:hover {
    background-color: #0073e6;
}

a:visited { 
    color: var(--button-text-color) 
}

input[type=text], input[type=password] {

    text-decoration: none;
    padding: 8px;

}
