:root {
    --theme-blue: #4da6ff;
    --button-text-color: white;
}

* {
    box-sizing: border-box;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    
    
}

nav {
    background-color: #808080b9;
    height: 35px;
    padding: 5px;
}

nav a {
    color: white;
    float: left;
    padding: 10px;
}

nav:hover {
    background-color: #b3b3b3;
    color: #808080;
}

.footer-div {
    margin: 5px 0px;
    width: 1000px;
    position: fixed;

}

.container {
    border: 1px solid black;
} 

a {
    text-decoration: none;
}

a.button, button {
    font-weight: bold ;
    color: var(--button-text-color);
    text-align: center;
    font-size: 15px;
    border: solid 1px grey;
    background-color: var(--theme-blue);
    padding: 10px 0px;
    cursor: pointer;
}

a.button:hover, button:hover {
    background-color: #0073e6;
    /* border: solid 1px lightgrey; */
}

a:visited { 
    color: var(--button-text-color) 
}

input[type=text], input[type=password] {

    text-decoration: none;
    padding: 8px;


}
