* {
    box-sizing: border-box;
}

.border {

    border: 2px solid black;

}

.form-container {
    border: solid 2px black;
    width: 500px;
    margin: auto;
    padding: 20px;
    height: 300px;
}

.grid-item {
    grid-column-end: span 2;
}

.form-container-grid {

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;

}

.align {
    padding: 5px;
    border: solid 2px black;
    width: 200px;
    margin: auto;
    height: 200px;

}